header {
	background-color: #f15b31;
	color: white;
	padding: 30px 20px 30px 20px;
}
main {
	width: 850px;
	margin: 35px auto 35px auto;
}
nav {
	background-color: #00a6b3;
	color:white;
	padding: 20px 0 20px 0;
}
body { 
	margin: 0;
 	text-align: center;}
h1 {
	margin: 0;
	font-family: Raleway;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
}
h3 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

a {
	margin: 0 20px 0 20px;
	font-family: Raleway;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}

a:hover {border-color: white;
}

h4 { 
	text-decoration: none ; 
	text-transform: uppercase;
}
p {
	font-family: "Droid serif";
	line-height: 26px;
	font-size: 18px;
}

img {
	margin: 40px 8px 0 8px;
}

footer{
	text-transform: uppercase;
	padding: 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright{
	font-family: raleway;
	float: left;
}

.message{
	font-family: raleway;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #f15b31;
	font-weight: 700;
}